#container {
	background-color: #FFFFFF;
	height: 685px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#enalt {
}


#banner {
	height: 120px;
	width: 1000px;
	background-image: url(header_center_1_0.jpg);
}
#menu {
	background-image: url(Ads%C4%B1z-1.png);
	height: 30px;
	width: 1000px;
}
#ap-alti {
	background-image: url(Ads%C4%B1z-1.png);
	height: 20px;
	width: 500px;
}
#favori {
	height: 500px;
	width: 1000px;
	float: left;
}
#icerik {
	float: left;
	height: 500px;
	width: 1000px;
	color: #000000;
}
#icerik {
}



#favori1 {
	float: left;
	height: 527px;
	width: 198px;
	border: thin solid #000000;
}
#favori2 {
	float: left;
	height: 527px;
	width: 198px;
	border: thin solid #000000;
}

#favori3 {
	float: left;
	height: 527px;
	width: 198px;
	border: thin solid #000000;
}
#favrori4 {
	float: left;
	height: 527px;
	width: 198px;
	border: thin solid #000000;
}
#favori5 {
	float: left;
	height: 527px;
	width: 198px;
	border: thin solid #000000;
}
#enalt {
	background-image: url(enalt.png);
	float: none;
	height: 30px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#enalt {
	background-image: url(enalt.png);
	height: 30px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#enalt {
	background-image: url(enalt.png);
	height: 30px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#enalt {
	background-image: url(enalt.png);
	height: 30px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#icerik {
	float: left;
	height: 400px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#enalt {
	background-image: url(enalt.png);
	height: 30px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
